# virtual environments
*env/

# PyCharm, VSCode, other caches
.DS_Store
.vscode/
__pycache__/
.idea/

#credentials
credentials/
*.json
*.dat

# internal stuff
examples_internal/

# distribution folders
build/
dist/
*.egg-info

# testing
.mypy_cache/
.coverage
.tox