google-api-python-client==2.4.0
oauth2client==4.1.3
pandas==1.4.4
# For Google Sheets
pygsheets==2.0.5
# For Google Big Query
google-cloud-bigquery==3.3.0
pandas-gbq==0.17.8
# For Reports
pdcompare==0.1.5